!!python/object:argparse.Namespace
approach: bal_ft
batch_size: 64
clipping: 10000
config: null
datasets:
- cifar100_icarl
exp_name: null
gpu: 0
log:
- disk
lr: 0.05
lr_factor: 3
lr_min: 5e-5
lr_patience: 10
momentum: 0.9
multi_softmax: false
nc_first_task: null
nepochs: 100
network: resnet32
not_remove_existing_head: false
not_save_models: false
num_tasks: 10
num_workers: 4
pin_memory: false
pretrained: false
results_path: ../results/
seed: 0
stop_at_task: 0
use_valid_only: false
warmup_lr_factor: 1.0
warmup_nepochs: 0
weight_decay: 2e-4
